.container {
    width: 30rem;
    margin-right: 41rem;

    border: 1px solid #494E52;
    border-radius: 10px;
    
    overflow: hidden;

    display: flex;
}

.container button, .container input {
    background-color: rgba(255, 255, 255, .15);
    border: none;
}

.container button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.container input {
    width: 100%;
    font-size: var(--fs-base);
    color: var(--text-color-primary);
}

.container input::placeholder {
    font-weight: 600;
}

@media (max-width: 1800px) {
    .container {
        margin-right: 23rem;
    }
}

@media (max-width: 1520px) {
    .container {
        margin-right: 7.5rem;
    }
}

@media (max-width: 1080px) {
    .container {
        display: none;
    }
}

