.container {
    padding: 1rem 0;
    padding-bottom: 1.3rem;
    margin-bottom: 1.3rem;

    display: flex;
    gap: 1rem;

    overflow-x: scroll;
    white-space: nowrap;
}

.container li a {
    background-color: var(--bg-color-links-2);
    color: var(--text-color-primary);
    font-size: var(--fs-sm-2);
    
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
}

.container li a:hover {
    background-color: var(--bg-color-links-hover);
}

.container::-webkit-scrollbar {
    width: 1px;
    height: 9px;
}

.container::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}