.container {
    background-color: var(--bg-color-aside);
    height: 100vh;
    width: 15rem;

    padding: 0.5rem;
    padding-top: 6rem;
    border-right: 1px solid var(--border-color-aside);

    position: fixed;
}

@media (max-width: 1080px) {
    .container {
        display: none;
    }
}