.container {
    background-color: transparent;
    padding-right: 7rem;
    padding-block: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100%;

    transition: .1s;
    z-index: 3;
}

.scrolled  {
    background-color: black;
    border-bottom: 1px solid #494E52;
}

@media (max-width: 1200px) {
    .container {
        padding-right: 2rem;
    }
}


