.container {
    background-color: black;
    padding-right: 7rem;
    padding-block: 1rem;
    border-bottom: 1px solid #494E52;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100%;
    z-index: 1;
}

